<div class="card">
  <%= render partial: "posts/post_with_comments", locals: { post: @post }  %>

  <div class="comment">
    <%= form_with model: Comment.new, url: user_post_comments_path(@user, @post) do |form| %>
      <%= form.text_area :text, rows: 5 %>
      <br><br>
      <%= form.submit 'Add Comment', class: "submit" %>
    <% end %>
  </div>  
</div>