<%= link_to user_path(user) do %>
  <div class = 'card flex'>
    <div class="item-1">
      <img class="card-img" src=<%=user.photo%> alt="photo">
    </div>
    <div class="flex flex-btw item-2">
      <h2><%=user.name%></h2>
      <span class="align-self-end count">Number of posts: <%=user.posts_counter || 0 %></span>
    </div>
  </div>
<% end %>
