<div class="container center">
  <%=render partial: 'users/user_card', locals: { user: @user }%>

  <div class="card">
    <p style="margin-bottom: 1em">About <%=@user.name %>: <%= @user.bio %></p>
    <%= posts_list(User.recent_posts(@user)) %>
  <div>

  <span>See all posts</span>
</div>
