<div class="card">
  <%= render partial: "post_with_comments", locals: { post: @post }  %>

  <div class="flex flex-center">
    <%= form_with model: @like, url:  user_post_likes_path(@user, @post) do |form|%>
      <%= form.submit 'Like post', class: 'submit' %>
    <%end%>

    <span style="margin-left: 2em">
      <%= link_to 'Add Comment', new_user_post_comment_path(@user, @post), class: 'submit' %>
    <span>
  </div>
  
  </div>  
</div>